<div class="gallery-download">
    <a href="#" class="button button-primary" data-baseurl="{{ path('download_pictures') }}"><i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i> Download selected images</a>
</div>
<div class="grid effect" id="grid">

    {% set currentPath = path(app.request.attributes.get('_route'),
    app.request.attributes.get('_route_params')) %}

    {% if pictures %}
        {% for picture in pictures %}

   <div class="item" {% if itemSize is defined %}style="width:{{ itemSize }};"{% endif %}>
                <div class="item-image hidden-item">
                    <a href="#" class="image-link">
                        <img src="{{ asset('img/uploads/pictures/'~picture.path~'') }}" alt="">
                    </a>
                    <div class="icons-image hidden">
                        <a href="#"><p class="posted-by">posted by <span class="posted-by-name">{{ picture.user }}</span></p></a>
                        <a href="#" class="thumbs-up"><p>{{ picture.usersLiked | length }}</p><i class="fa fa-lg fa-thumbs-up" aria-hidden="true"></i></a>
                        <a href="#" class="comments"><p>{{ picture.commentCount }} </p><i class="fa fa-lg fa-comments" aria-hidden="true"></i></a>
                        <label class="item-select-checkbox">
                            <input type="checkbox" data-id="{{ picture.id }}">
                        </label>
                    </div>
                    <div class="checked-div">
                        <i class="fa fa-check fa-5x icons-image-checked hidden" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="item-image item-image-sidepart hidden">
                    <div class="item-likes">
                        <a href="{{ path('like_image',{'id':picture.id,'callback':currentPath}) }}" class="thumbs-up">
                            <p>{{ picture.usersLiked.count }}
                                <i class="fa fa-lg fa-thumbs-up" aria-hidden="true"></i></p>
                        </a>
                    </div>
                     <div class="item-comments widget widget-primary">

                        {% for comment in picture.comments %}
                        <div class="item-commment">
                            <p class="item-comment-content"><a href="{{ path("profil",{"id":comment.user.id}) }}"><span class="comment-name">{{ comment.user }} </span></a>- {{ comment.content }} </p>
                            <p><span class="comment-date">on {{ comment.date|date('Y-m-d H:i:s') }}</span></p>
                        </div>
                        <hr class="half-rule"/>
                         {% endfor %}

                         {{ render(controller("GalleryBundle:PictureComment:commentForm", {'pictureID' : picture.id,'callback':currentPath})) }}

                    </div>
                </div>
            </div>
        {% endfor %}
    {%  endif %}
</div>