<div class="cart widget">

    <h4 class="widget-title widget-offset">Cart</h4>

    <ul class="cart-item-list">
    {% for product in cart %}
        <li class="cart-item">{{ product.title }} <div class="cart-item-right"><div class="cart-item-price">{{ product.price }} €</div><a href="{{ path("cart_remove",{"id":product.id}) }}" class="cart-item-remove"><i class="fa fa-times"></i></a></div></li>
    {% endfor %}
    {% if cart|length > 0 %}
        <li class="cart-item"><strong>Total</strong> <div class="cart-item-right"><div class="cart-item-price">{{ total }} €</div></div></li>
    {% endif %}
    </ul>
    {% if cart|length == 0 %}
        <div class="row justify-content-center widget-offset">
            <div class="col-auto empty-cart">Your cart is empty</div>
        </div>
    {% endif %}

    {% if cart|length > 0 %}
    <a class="button button-primary" href="{{ path('shop_purchase') }}">Purchase</a>
    {% endif %}

</div>