{% extends "Layout/global.html.twig" %}

{% block title %}{{ member.fullname }}{% endblock %}
{% block head %}
	<link rel="stylesheet" href="{{ asset("css/profil.css") }}"/>
	<link rel="stylesheet" href="{{ asset("css/articles.css") }}"/>
	<link rel="stylesheet" href="{{ asset("css/events.css") }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset("css/gallery/base.css") }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset("css/gallery/component.css") }}"/>
{% endblock %}

{% block scripts %}
    {% javascripts
    '@GalleryBundle/Resources/public/js/jquery-3.1.1.js'
    '@GalleryBundle/Resources/public/js/imagesloaded.pkgd.min.js'
    '@GalleryBundle/Resources/public/js/masonry.pkgd.min.js'
    '@GalleryBundle/Resources/public/js/gallery.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}


{% block body %}
    <div class="row">
	<section class="col-12 col-md-9">

        <div class="widget widget-offset">
            <div class="row"> 
                <div class="col-lg-4 profil-image">                                                          
                        <div><img src="{{ asset('img/uploads/members/' ~ member.avatar) }}" alt="members"/></div>
                </div>

                <div class="col-lg-6">
                    <h2>{{ member.fullname }}</h2>
                    {% if member.prom %}
                    <h4>{{ member.prom.name }}</h4>
                    {% endif %}
                    <h5>About :</h5>
                    <p>Et interdum acciderat, ut siquid in penetrali secreto nullo citerioris vitae ministro praesente paterfamilias uxori susurrasset in aurem, velut Amphiarao referente aut Marcio, quondam vatibus inclitis, postridie disceret imperator. ideoque etiam parietes arcanorum soli conscii timebantur.</p>
                    <div class="profil-network">
                    <a href="#" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                    </div>
                </div>

                <div class="col-lg-2">
                    Member of the {{member.translatedRole}} !
                </div>
            </div>
        </div>

        <div class="row justify-content-center">

            {% if eventPast|length > 0 %}
                <section class="col-12 col-md-6">
                    <h2 class="section-title">Has participated to</h2>

                    {% for participation in eventPast %}
                        {% include "EventBundle:Includes:event.html.twig" with {"event":participation.event} %}
                    {% endfor %}
                </section>
            {% endif %}

            {% if eventNext|length > 0 %}
                <section class="col-12 col-md-6">
                    <h2 class="section-title">Will participate to</h2>

                    {% for participation in eventNext %}
                        {% include "EventBundle:Includes:event.html.twig" with {"event":participation.event} %}
                    {% endfor %}

                </section>
            {% endif %}

        </div>

    </section>

    <aside class="col-12 col-md-3">
        <h2 class="section-title">Gallery</h2>
        {% include "GalleryBundle:includes:gallery-item.html.twig" with {"pictures":member.pictures,"itemSize":"100%"} %}
    </aside>
    </div>

{% endblock %}


