<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}{% if block("title") != "" %} - {% endif %}{{ sitename }}</title>
        {% block mainhead %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />
        <meta name="viewport" content="width=device-width;user-scalable=no;initial-scale=1">
        <link rel="stylesheet" href="{{ asset("css/bootstrap.css") }}"/>
        <link rel="stylesheet" href="{{ asset("css/fa/css/font-awesome.css") }}"/>
        <link rel="stylesheet" href="{{ asset("css/base.css") }}"/>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ asset("css/foothead.css") }}"/>
        {% if is_granted('ROLE_BOSS') or is_granted('ROLE_STAFF') %}
        <link rel="stylesheet" type="text/css" href="{{ asset("css/adminBar.css") }}"/>
        {% endif %}
    </head>
    <body>

    {# The admin bar #}
    {% if (is_granted('ROLE_BOSS') or is_granted('ROLE_STAFF')) %}
    <div class="admin-toolbar-container container-fluid">
        <div class="admin-toolbar row">
            <div class="col-12 col-md-2 admin-toolbar-title">
                Admin login
            </div>
            <div class="admin-toolbar-action col-auto both-lines">
                <i class="fa fa-plus" aria-hidden="true"></i> Add <i class="fa fa-caret-down admin-toolbar-dropdown-icon" aria-hidden="true"></i>
                <ul class="admin-toolbar-dropdown">
                    {% if is_granted('ROLE_STAFF') %}
                    <li class="admin-toolbar-dropdown-item"><a href="{{ path("staff_user_new") }}">Member</a></li>
                    <li class="admin-toolbar-dropdown-item"><a href="{{ path("staff_page_new") }}">Page</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_BOSS') %}
                    <li class="admin-toolbar-dropdown-item"><a href="{{ path("boss_class_new") }}">Class</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="admin-toolbar-action col-auto">
                <i class="fa fa-location-arrow" aria-hidden="true"></i> Go to <i class="fa fa-caret-down admin-toolbar-dropdown-icon" aria-hidden="true"></i>
                <ul class="admin-toolbar-dropdown">
                    <li class="admin-toolbar-dropdown-item"><a href="#">Pages</a></li>
                    <li class="admin-toolbar-dropdown-item"><a href="#">Events</a></li>
                    <li class="admin-toolbar-dropdown-item"><a href="#">Members</a></li>
                    <li class="admin-toolbar-dropdown-item"><a href="#">Gallery</a></li>
                    <li class="admin-toolbar-dropdown-item"><a href="#">Shop</a></li>
                    <li class="admin-toolbar-dropdown-item"><a href="#">Purchases</a></li>
                </ul>
            </div>
            {% if block("adminActions") != "" %}
            <div class="admin-toolbar-action col-auto">
                <i class="fa fa-bolt" aria-hidden="true"></i> Actions <i class="fa fa-caret-down admin-toolbar-dropdown-icon" aria-hidden="true"></i>
                <ul class="admin-toolbar-dropdown">
                    {% block adminActions %}{% endblock %}
                </ul>
            </div>
            {% endif %}
            <div class="admin-toolbar-flex-separator"></div>
            <a href="{{ path("logout") }}" class="admin-toolbar-action col-auto inversed-lines" title="Disconnect">
                <i class="fa fa-power-off" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    {% endif %}

    {# The header of the page #}

    <header class="container-fluid main-header-container">
        <div class="main-header row no-gutters">
            <a href="{{ path("index") }}" class="main-header-logo col-12 col-md-1">
                <img class="main-header-logo-img" src="{{ asset("img/logobde.svg") }}" alt="logo" />
            </a>
            <nav class="main-navbar-container col-12 col-md-8">
                <div class="row justify-content-left main-navbar">
                    <a href="{{ path("index") }}" class="col-12 col-md-auto"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
                    <a href="#" class="col-12 col-md-auto"><i class="fa fa-calendar" aria-hidden="true"></i>Events</a>
                    <a href="#" class="col-12 col-md-auto"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i></i>Propositions</a>
                    <a href="#" class="col-12 col-md-auto"><i class="fa fa-picture-o" aria-hidden="true"></i>Gallery</a>
                    <a href="#" class="col-12 col-md-auto"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Shop</a>
                    <a href="#" class="col-12 col-md-auto"><i class="fa fa-users" aria-hidden="true"></i>Members</a>
                </div>
            </nav>
            <div class="col-12 col-md-3 main-header-connection-container">
                <div class="row justify-content-center main-header-connection align-items-center">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a href="{{ path("logout") }}" class="main-header-connection-btn button col-auto" >Disconnect</a>
                    {% else %}
                    <a href="{{ path("login") }}" class="main-header-connection-btn button col-auto" >Log in</a>
                    <a href="{{ path("login") }}" class="main-header-connection-btn button col-auto">Sign in</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>

    {# starting of the page #}

    <section class="container main-page {% block pageExtraClass %}main-page-pad{% endblock %}">

        {% block mainbody %}{% endblock %}

    </section>
    <footer class="container-fluid footer">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 footer-infos">
                    {{ render(controller("PagesBundle:Widget:footerLinks")) }}
                </div>
                <diV class="col-12 col-md-4 footer-social">
                    <div class="footer-social-logos">
                        <a href="#" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-snapchat" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="col-12 col-md-4 footer-logos">
                    <div class="row">
                        <div class="col-6"><img src="{{ asset("img/exia.png") }}" alt="eXia" width=85%/></div>
                        <div class="col-6"><img src="{{ asset("img/ei.png") }}" alt="ei" width=90%/></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

        {% block mainscripts %}{% endblock %}
    </body>
</html>
